.user-detail-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 20px rgb(0 0 0 / 10%);
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  animation: fade-in 0.5s;
}

.user-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.user-detail-content {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.1em;
}

.user-detail-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
